body {
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
  background-color: #11305E;
}

.line {
  border-top: 1px solid #d9d9d9;
  border-bottom: 3px solid #e9e9e9;
}
.orLine {
  border-bottom:1px solid #999999;
}
.signIn {
  border: 1px solid #d9d9d9;
  background-color: inherit;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 300px;
  color: #999999;
  height: 40px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
}
.input_field {
  border-bottom: 1px solid #4B4D50;
  display: inline-block;
  border-radius: 8px;
  width: 22vw;
  background-color: #BCC0C6;
  height: 2vh;
}

input {
  border-bottom: 1px solid #ccc;
  padding: 3vh 2vw;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

ul, li  {
    list-style: none;
}

#projectContent input {
    height: 4vh;
    padding: 0px;
    margin: 1vh;
}

input:focus {
  border-bottom: 2px solid #ccc;
}

.login {
  border: 1px solid #71AAD6;
  background-color: #75B2E1;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  color: white;
  height: 40px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
  margin-bottom: 20px;
}

a:link {
  color: #7ab4e0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #7ab4e0;
  background-color: transparent;
  text-decoration: none;
}
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;

}
.main1 {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 5px 10px;
}
.sidenav {
    height: 100%;
    width: 7vw;
    position: fixed;
    z-index: 1;
    padding: 0;
    margin-top: 0px;
    top: 0;
    left: 0;
    background-color: #0C1F3B;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: visible;
    flex-direction: column;
}
.sidenav center {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
  color: #494A4D;
}
.sidenav1 {
    height: 100%;
    width: 11vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 7vw;
    background-color: #D0E0E3;
    overflow-x: hidden;
    padding-top: 10px;
}
.sidehover {
  background-color:#5892c0ff;
}
.heading {
    top: 0;
    margin-left: 9vw; /* Same as the width of the sidenav */
    margin-top: 2vw;
    font-size: 30px; /* Increased text to enable scrolling */
    width: calc(100% - 9vw);
    height: 5vh;
    margin-bottom: 1vh;
}
.heading > h1 {
  color: "black";
  font-size: 3vw;
  padding: 5px;
  margin-top: 5px;
}
.heading1 {
    top: 0;
    margin-left: 18vw; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    width: calc(100% - 9vw);
    height: 5vh;
    margin-bottom: 3vh;
}
.heading1 > h1 {
  color: "black";
  font-size: 3vw;
  padding: 5px;
  margin-top: 5px;
}
footer  {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 6px;
  text-align: center;
}
.error  {
  color: red;
}
#Menu {

}
.collapsed  {
  display: none;
}
.profilepic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.profilepic1 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.changeText {
  border: 1px solid #bbbbbb;
  padding: 1vh 1vw;
  font-size: 12px;
  display: inline-block;
  border-radius: 8px;
  width: 50%;
  color: #000000;
  height: 2%;
}
.update, #normalTheme, #darkTheme {
  border: 1px solid #5E616A;
  background-color: #5E616A;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  color: white;
  height: 40px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
  margin-bottom: 20px;
}

#normalTheme, #darkTheme {
    width: 8vw;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #444B55;
    color: white;
}

.taskBox {
  border: 0px;
  background-color: #010F39;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  width: 50%;
  color: white;
  height: 15px;
  text-align: center;
}

.taskHeader {
  padding: 10px;
}

.taskBlock {
  text-align: left;
  background-color: #09B1E2;
  color: white;
  border: 0px;
  -webkit-transition: height 4s ease;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 2s;
  transition: height 4s ease;
  animation-duration: 4s;
  animation-delay: 2s;
}

.taskRow {
  height: 30px;
}

.taskBlock:hover {
  height: 100px;
  cursor: pointer;

}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgb(12,31,59,0.6);/*#3F83F5;#9cd6f2aa*/
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
  top: 10%;
  right: -80%;
  margin-left: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#taskButton{
  width: auto;
  height: 7%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
}

#taskButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#newTask, #taskDetails, #newProject {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transform: scale(1.1);
  z-index: 999;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
#taskContent, #projectContent, #detailContent  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252D37;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: white;
}
#close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#close-button:hover {
    background-color: darkgray;
}

.taskInput {
  height: 15px;
  font-size: 13px;
}

.chooseFile {
  font-size: 12px;
  border-bottom: 0px;
  padding-left:0;
}

#taskDone, #projectDone {
  float: center;
  width: 50px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

#taskDone, #projectDone:hover{
  background-color: darkgray;
  cursor: pointer;
}

.projectBox {
    background-color: #444B55;
    border-radius: 0.4rem;
    padding: inherit;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
    height: 100px;
    width: 20vw;
    margin-right: 2vw;
    margin-top: 2vw;
    padding: 1vh;
    padding-top: .5vh;
}

.projectBox h2{
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}

.projectBox p{
    padding-left: 10px;
    color: #8B95A4;
    font-style: italic;
}

#projectTable{
    width: 100%;
    margin-left: -30px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

.projectBox a: hover{
    color: transparent;
    background-color: transparent;
    text-decoration: none;
}

#taskBox {
    background-color: #444B55;
    border-radius: 0.4rem;
    padding: inherit;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
    height: 100px;
    text-align: left;
    width: 100%;
    -webkit-transition: height 4s ease;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    transition: height 4s ease;
    animation-duration: 4s;
    animation-delay: 2s;
}

#taskBox h2{
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}

#taskBox p{
    padding-left: 10px;
    color: #8B95A4;
    font-style: italic;
}

#taskTable{
    margin-top: -10px;
    border-collapse:separate; 
    border-spacing:20px 20px; 
    width: 100%;
    margin-left: -40px;
}

#taskTable tr{
    width: 100%;
    padding: 0;
    line-height: 10px;
}
